/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*************** end reset css ******************/

body {
	/* max-width: 1140px; */
	/* margin:auto; */
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}

main {
	max-width: 1140px;
	margin: auto;
}

header {
	max-width: 1140px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin: 50px auto;
}

header li a {
	color: black;
	text-decoration: none;
}

header li a:hover{
	color: #B1663C;
}

.current-tab {
	font-weight: 600;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
}


/**************************** COMMONS ****************************/
/* Round green buttons */
.rnd-green-button {
	width: 179px;
	height: 36px;

	font-size: 14px;;
	font-weight: 700;
	font-family: 'Syne';
	text-align: center;

	color: white;
	background-color: #1D6154;
	
	border-radius: 60px;
	cursor: pointer;
}

.rnd-green-button:hover {
	background-color: #0E2F28;
}

.rnd-green-button--locked {
	color: #FFFFFF;
	background-color: #A7A7A7;

	cursor: default;
}

.rnd-green-button--locked:hover {
	color: #FFFFFF;
	background-color: #A7A7A7;
}

/************************** PORTFOLIO H **************************/
.portfolio__header {
	display: flex;
	align-items: center;
	justify-content: center;

	column-gap: 31px;
}

/**************************** FILTERS ****************************/
.filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 10px;

	margin: 51px 0px;
}

.filter {
	height: 39px;
	box-shadow: none;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 9px 20px;

	font-size: 16px;
	font-weight: 700;
	font-family: 'Syne';
	text-decoration: none;

	cursor: pointer;

	/* Transitions */
	transform: scale(1);
	color: #1D6154;
	background-color: white;

	transition: transform 300ms, background-color 300ms, color 300ms;
}

.filter:hover {
	transform: scale(1.05);
	color: #1D6154;
	background-color: white;
}

.filter:active {
	transform: scale(1);

}

.filter.selected {
	color: white;
	background-color: #1D6154;
}


/************************** GALLERY **************************/
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
	height: 100%;
	max-height: 490px;
	object-fit: cover;
}

/************************** FORMS **************************/
.form-section {
	width: 50%;
	max-width: 379px;
	margin: auto;
	text-align: center;
}

.form-section#login {
	margin-top: 150px;
}

form {
	text-align: left;
	/* margin-top: 38px; */
	display: flex;
	flex-direction: column;
}

/*** Form title ***/
#contact h2 {
	margin-bottom: 9px;
}

#contact p {
	margin-bottom: 38px;
}

#login h2 {
	margin-bottom: 37px;
}

/*** Forms' labels ***/
form label {
	text-align: left;
	margin-bottom: 7px;
}

/*** Forms' inputs ***/
form input, form select, form textarea {
	height: 51px;

	font-size: 14px;
	font-weight: 400;
	font-family: 'Work Sans';
	color: #444444;

	border: none;
	background-color: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

	padding-left: 16px;
	padding-right: 16px;
}

/*** Forms' text areas ***/
form textarea {
	height: 174px;

	padding: 16px;
	resize: none;
}

#contact input {
	margin-bottom: 40px;
}

#login input {
	margin-bottom: 30px;
}


/*** Submit inputs ***/
#contact .rnd-green-button {
	height: 36px;
	width: 179px;
	
	margin : 40px auto 45px auto;
}

#login .rnd-green-button {
	height: 36px;
	width: 179px;

	margin : 7px auto 28px auto;
}

/************************** FOOTER **************************/
footer {
	height: auto;
	max-width: 1140px;
	margin: auto;
	background-color: white;

	display: flex;
	align-content: center;
	justify-content: flex-end;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	cursor: pointer;
}

/************************ EDIT MODE ************************/
/* Edit mode top bar */
.edit-top-bar {
	height: 59px;
	background-color: black;

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 21px;
}

.edit-top-bar .edit-top-title {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 9px;
}

.edit-top-bar .fa-pen-to-square {
	color: white;
	font-size: 19px;
}

.edit-top-bar span{
	color: white;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Work Sans';
}

/* Edit mode publish button */
.publish-button {
	width: 216px;
	height: 38px;

	color: black;
	font-family: Work Sans;
	font-size: 14px;
	font-weight: 500;

	border: none;
	border-radius: 60px;
	background: #FFFFFF;

	cursor: pointer;
}


.edit-button {
	display: flex;
	align-items: center;
	justify-content: center;

	column-gap: 8px;

	border: none;
	background-color: transparent;

	cursor: pointer;
}

.edit-button span {
	font-size: 14px;
	font-weight: 400;
	font-family: 'Work Sans';
}

.edit-button .fa-pen-to-square {
	font-size: 18px;
}

/************************ Modal ************************/
.modal-container {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

.modal {
	/* width: 30%; */
	/* min-width: 300px; */
	width: auto;
	max-width: 630px;

	/* height: 50%;
	max-height: 731px; */

	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);

	padding: 60px 105px 0px 105px;

	border-radius: 10px;
	background-color: white;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: space-between;
}


/*** Modal window  buttons ***/
.modal .back-button {
	position: absolute;
	top: 35px; left: 35px;

	font-size: 18px;
	border: none;
	background: none;
	cursor: pointer;
}

.modal .close-button {
	position: absolute;
	top: 35px; right: 35px;

	font-size: 18px;
	border: none;
	background: none;
	cursor: pointer;
}

/**** Modal window galery ****/
.modal-galery {
	width: 430px;

	margin-bottom: 67px;

	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	row-gap: 26px;
	column-gap: 9px;
}

.modal-gallery-project {
	height: 100px;
	width: 78px;
}

.modal-gallery-project img {
	width: 100%;
	height: 100%;
	max-height: 100px;
	object-fit: cover;
}

.modal-gallery-project span {
	font-size: 12px;
	font-weight: 400;
}

.modal-gallery-project .delete-icon-bkg {
	width: 17px; height: 17px;

	position: relative;
	top: 22px; right: -55px;

	background: #000000;
	border-radius: 2px;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

.modal-gallery-project .delete-icon-bkg i {
	color: #FFFFFF;
	font-size: 9px;
}

.modal-gallery-project .move-icon {
	/* TO DO */
}

/*** Modal window's titles ***/
.modal h2 {
	margin-bottom: 46px;

	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	text-align: center;

	color: black;
}

.grey-line {
	width: 420px;
	height: 0px;
	color: #B3B3B3;
	border-top: 1px solid #B3B3B3;
}

/*** Modal window's buttons ***/
.modal input[value="Ajouter une photo"] {
	height: 36px;
	width: 237px;

	margin : 38px auto 0px auto;
}

/* Delete the gallery */
.modal input[value="Supprimer la galerie"] {
	height: 17px;
	margin : 23px auto 48px auto;

	font-family: 'Syne';
	font-style: normal;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	
	color: #D65353;
	background: none;
	border: none;
	box-shadow: none;

	cursor: pointer;
}

/**** Modal form to add a picture to the galery ****/
.modal-add-project form {

}

/* Note : it's difficult to style a input type=file directly in CSS
so we hide it and style the label instead */
input[type="file"] {
	display: none;
}

.modal-add-project .input-file {
	width: 420px;
	height: 169px;

	background: #E8F1F7;
	border: none;
	border-radius: 3px;

	margin-bottom: 30px;
	cursor: pointer;

	display: flex;
	justify-content: center;
}

.input-file-default {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal-add-project .input-file .input-file-bkg {
	width: 58px;
	height: 46px;
	color: #B9C5CC;
	margin-bottom: 21px;
}

.modal-add-project .input-file .input-file-img {
	position: absolute;

	width: inherit;
	height: inherit;
	object-fit: contain;
}

.modal-add-project .input-file h3 {
	color: #306685;
	font-size: 14px;
	font-weight: 500;
	font-family: 'Work Sans';

	padding: 10px 33px;
	border-radius: 50px;
	background-color: #CBD6DC;

	margin-bottom: 7px;
}

.modal-add-project .input-file span {
	font-family: 'Work Sans';
	font-size: 10px;
	font-weight: 400;
	color: #444444;
}


.modal-add-project input[type="text"] {
	margin-bottom: 21px;
}

.modal-add-project select {
	margin-bottom: 47px;
}

.modal input[value="Valider"] {
	height: 36px;
	width: 237px;

	margin : 38px auto 55px auto;
}

/* TODO: NOT WORKING */
.modal-add-project option {
	font-family: 'Work Sans';
	font-size: 14px;

	color: #444444;
	padding-left: 16px;
	padding-right: 16px;

	border-radius: none;
}

.edit-hidden {
	display: none;
}
